header{
    background-color: lightseagreen;
    color:white;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.menu{
    padding-top: 3em;
    text-align: center;
   color: teal;
   padding-bottom: 1rem;
}
.box{
    padding-top: 1rem;
 background-color:lightgrey;
 border: solid;
 margin: 10px;
 font-family: Arial, Helvetica, sans-serif;
}
h3{
    text-align: center;
    color:palevioletred;
}